<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Tech Blog</title>
  </head>
  <body>
    <h1>Welcome to Tech Blog</h1>
    {{!-- {{#if currentUser}} --}}
    <p>Hello, {{blog.user.name}}!</p>
    {{!-- {{else}} --}}
    {{!-- {{/if}} --}}
    <h2>Latest Blog Posts</h2>
    {{#each blogs as |blog|}}
      <div>
        <h3>{{blog.title}}</h3>
        <p>{{blog.post}}</p>
        <p>Published by
          {{blog.user.name}}
          on
          {{format_date blog.date_created}}</p>
        <a href='/post/{{id}}'>Read more</a>
      </div>
    {{else}}
      <p>No blog posts found.</p>
    {{/each}}
  </body>
</html>